Overview.pdf
Session*.pdf
References.pdf
*.aux
*.log
*.out
*synctex.gz
2020-markov-chains-lecture-slides.pdf
2020-monte-carlo-lecture-slides.pdf
2020-Gibbs-sampling-inbreeding-model.pdf
2020-two-dimension-MCMC.pdf
2020-imp-samp-mcmcmc.pdf
